html {
	height: 100%;
	background-color: lightgreen;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
	margin: auto;
	text-align: center;
	font-size: 60px;
	width: 75%;
}

#form1 {
	margin:auto;
	margin-top: 10%;
	text-align: center;
	font-size: 24px;
	width: 50%;
}

#menuNav {
	margin:auto;
	margin-top: 10%;
	text-align: center;
	font-size: 24px;
}

#menuNav button {
	background-color: white;
	width: 200px;
	height: 50px;
	font-size: 24px;
	display: inline-block;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 8px;
}

#menuNav button a {
text-decoration: none;
}

#button-bot {
	margin:auto;
	position: absolute;
	text-align: center;
	display: inline-block;
	bottom: 5px;
	left: 0;
	right: 0;
}

#button-bot button, input {
	background-color: white;
	font-size: 18px;
	width: 125px;
	height: 35px;
	border: 0px;
	border-radius: 8px;
}